<nav class="navbar navbar-light bg-light fixed-top">
  <span id="empty"></span>
  <span class="navbar-brand mb-0 h1"><%= link_to "New list", new_list_path %></span>
</nav>

<div class="banner home"><h1>Movies</h1></div>

<div class="main-container">
  <h3>What are you going to watch right now?</h3>

    <div class="card-container-flex" >
      <% @lists.each do |list| %>
      <div class="card">
        <div class="card-image">
          <% if list.photo.attached? %>
            <%=  cl_image_tag list.photo.key, alt: "Movie Card" %>
          <% else %>
            <%=  image_tag "list_background.jpg", alt: "Movie Card" %>
          <% end %>
        </div>
        <%= link_to list.name, list %>
      </div>
      <% end %>
  </div>
</div>
