<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><%= link_to "New list", new_list_path %></span>
</nav>


<div class="banner">
  <h1>Movies</h1>
</div>

  <div class="container d-flex" >
    <% @lists.each do |list| %>
    <div class="card">
      <div class="card-image"><%= image_tag "list_background.jpg", alt: "Movie Card" %></div>
      <p><%= list.id %> <%= list.name %></p>
    </div>
    <% end %>
</div>
