<div class="container">
  <h4>Create a new list</h4>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Drama' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
