.banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  background-image: asset-url('cover.jpg');
  color: white;
}

.banner h1 {
  color: white;
  text-align: center;

}
