.card {
  min-height: 280px;
  width: 300px;
  margin: 20px;
  border: solid 0.5px lightgrey;
}

.card-image img {
  height: 250px;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.card a {
    color: grey;
    font-weight: bold;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.title {
  font-weight: bold;
}

.overview {
  text-align: start;
  padding: 0 5px;
}
